<div class="d-flex row col-12">
  <div class="col-sm-12 col-md-4">
      <% if item.product.image.attached? %>
        <%= image_tag url_for(item.product.image.variant(resize_to_limit: [nil,
                                                                        100]).processed) %>
      <% end %>
  </div>
  <div class="col-sm-12 col-md-6">
    <p><%= item.product.name %></p>
    <p><%= item.product.description %></p>
  </div>
  <div class="col-sm-12 col-md-2">
    <p>Qty: <%= item.quantity %></p>
    <p><%= number_to_currency(item.quantity * item.price) %></p>
  </div>
</div>