<div class="row col-12">
  <p>Address type: <%= addr.name %></p>
  <p>Line 1: <%= addr.line01 %></p>
  <p>line 2: <%= addr.line02 %></p>
  <p>City: <%= addr.city %></p>
  <p>Province: <%= addr.province.abbreviation %></p>
  <p>Postal code: <%= addr.postal_code %></p>
</div>
